torch>=2.4.0
torchaudio>=2.4.0
gguf==0.10.0
spacy==3.8.5
kokoro==0.9.4
huggingface-hub>=0.26.5
transformers>=4.46.0
parler_tts @ git+https://github.com/huggingface/parler-tts.git@d108732cd57788ec86bc857d99a6cabd66663d68
gguf==0.10.0
safetensors==0.5.3
groovy==0.1.2
gradio==5.29.0
gradio-client==1.10.0
llvmlite==0.44.0
numba==0.61.2
scipy>=1.15.2
snac==1.2.1
soundfile>=0.13.1
nari-tts @ git+https://github.com/nari-labs/dia.git@2811af1c5f476b1f49f4744fabf56cf352be21e5
torchvision==0.21.0